@using CuratorMagazineBlazorApp.Shared.ModalWindows
@using CuratorMagazineWebAPI.Models.Entities.Domains
<div class="row">
    <div class="col-1">
        @if (_vdew?.ProfilePhoto == null)
        {
            <img class="rounded img-fluid" src="../img/no-img.jpg" alt="">
        }
        else
        {

        }
    </div>
    <div class="col-8">
        <h5>@_vdew?.Name</h5>
        @if (IsVisibleModalChangeVdewWindow)
        {
            <ChangeVDEWModalWindow _vdew="@_vdew"></ChangeVDEWModalWindow>
        }
        <p>@_vdew?.Email</p>
    </div>
    <div class="col-3 text-end">
        <button type="button" class="btn btn-secondary me-2" @onclick="ChangeVisible">Изменить</button>
        <button type="button" class="btn btn-secondary" @onclick="(() => DeleteVDEW.InvokeAsync(_vdew))">Удалить</button>
    </div>
</div>


@code {
    [Parameter]
    public User? _vdew { get; set; }

    [Parameter] 
    public EventCallback<User> DeleteVDEW { get; set; }

    private bool IsVisibleModalChangeVdewWindow { get; set; }

    public void ChangeVisible()
    {
        IsVisibleModalChangeVdewWindow = !IsVisibleModalChangeVdewWindow;
    }

    void SaveVDEW(User user)
    {

    }


}
