<div class="container my-4 bg-secondary bg-opacity-50" @onload="GetGroups">
    <div class="container-fluid">
        <div class="overflow-auto container scroll text-white">
            @foreach (var item in _groups)
            {
                <IndividualGroup group="item"></IndividualGroup>
            }
        </div>
    </div>
</div>