<div class="modal fade" aria-labelledby="changeModelLabel" style="display: none;" aria-hidden="true" tabindex="-1" id="changeModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title">Добавление</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <img class="img-fluid" src="../img/no-img.jpg" alt="">
                            <button type="image" class="btn btn-outline-secondary mt-3">Обзор</button>
                        </div>
                        <div class="col-md-6">
                            <label for="inputGroup" class="col-md-2 col-form-label">Группа</label>
                            <div class="col-ms-10">
                                <input type="text" class="form-control" id="inputGroup">
                            </div>
                            <label for="selectCurator" class="col-md-2 col-form-label">Куратор</label>
                            <div class="col-ms-10">
                                <select class="form-select border-1" id="selectCurator">
                                    <option selected>Не выбрано</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" @onclick="(() => ChangeGroup.InvokeAsync(_group))">Сохранить</button>
            </div>
        </div>
    </div>
</div>
@code {
    private Group? _group = new Group();

    [Parameter]
    public User? CurrentUser { get; set; }

    [Parameter]
    public EventCallback<Group> RoleCallback { get; set; }

    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(_group)}");
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(_group)}");
    }

    [Parameter]
    public EventCallback<Group> ChangeGroup { get; set; }
}
